# Database
DATABASE_URL="postgresql://user:password@localhost:5432/erp"
DIRECT_URL="postgresql://user:password@localhost:5432/erp"

# Redis
REDIS_URL="redis://localhost:6379"

# Server
PORT=3000
NODE_ENV="development"

# CORS
CORS_ORIGIN="http://localhost:5173,https://erp-three-pied.vercel.app"

# Frontend URL (for socket.io)
FRONTEND_URL="http://localhost:5173"
